@model TeacherVM

@{
    ViewBag.Title = "Teacher | Index";
    IEnumerable<Teacher> teachers = ViewBag.Teachers;
}

<form method="post" class="form">
    <div asp-validation-summary="ModelOnly"></div>

    <label asp-for="Name"></label>
    <input asp-for="Name" autofocus>
    <span asp-validation-for="Name"></span>

    <section>
        <button>Insert</button>
        <button type="reset">Reset</button>
    </section>
</form>

<p>@teachers.Count() record(s)</p>

<table class="table">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Subjects</th>
        <th></th>
    </tr>
    @foreach (var t in teachers)
    {
        <tr>
            <td>@t.Id</td>
            <td>@t.Name</td>
            <td>
                @t.Subjects.Count()

            </td>
            <td>
                <button data-get="/Teacher/Assign/@t.Id">Assign</button>
                <button data-post="/Teacher/Delete/@t.Id">Delete</button>
                
                <div class="popup">
                    @foreach (var s in t.Subjects)
                    {
                        <div>- @s.Name</div>
                    }
                    @if (t.Subjects.Count() == 0)
                    {
                        <div>No Subject</div>
                    }
                </div>

            </td>
        </tr>
    }
</table>
